* {
  padding: 0;
  margin: 0;
  font-family: "Press Start 2P", cursive;
}

::-webkit-scrollbar {
  display: none;
}
.container {
  background-color: #1e1b18;
  overflow: hidden;
}

.salute {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.saluteTextContainer {
  text-align: center;
  flex: 3;
}

.saluteText {
  color: #d72638;
  font-size: 12vw;
  cursor: default;
}

.saluteImg {
  width: 100%;
}

.nameContainer {
  height: 100vh;
  background-color: #d72638;
}

.name {
  font-size: 6vw;
  color: #333;
  cursor: default;
  text-align: center;
  line-height: 100vh;
}

.jobTitleContainer {
  height: 100vh;
}

.dark {
  background: url("./img/bg1.png");
}
.purple {
  background: #d72638 url("./img/bg2.png");
}

.jobTitle {
  width: 200vw;
  font-size: 3vw;
  color: #d72638;
  line-height: 100vh;
  cursor: default;
}

.description {
  color: #333;
}

.projects {
  display: flex;
  flex-direction: column;
  padding: 0px 100px;
}

.projectsTitle {
  margin-bottom: 50vh;
  text-align: center;
  font-size: 6vw;
  color: #d72638;
}

.project {
  margin: 3vh;
  display: flex;
  align-items: center;
  gap: 100px;
  height: 70vh;
  overflow: hidden;
}

.project:nth-child(2n) {
  flex-direction: row-reverse;
}

.phone {
  flex: 1;
  width: 300px;
  height: 600px;
  position: relative;
}

.phoneScreen {
  width: 264px;
  height: 567px;
  position: absolute;
  top: 17px;
  left: 18px;
  border-radius: 28px;
  overflow: scroll;
}

.phoneScreen::-webkit-scrollbar {
  display: none;
}

.phoneApp {
  width: 100%;
}

.projectDetail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectTitle {
  font-size: 5vw;
  color: #d72638;
}

.projectDesc {
  margin: 6vh 0;
  font-size: 16px;
  color: #555;
  text-align: justify;
  line-height: 40px;
}

.projectImage {
  width: 80%;
  border-radius: 4px;
}

.project:nth-child(2n) .projectImage {
  margin-left: 6vw;
}

.projectButton {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #555;
  color: #d72638;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.projectButton::after {
  content: "View Demo";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 1s all;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d72638;
  color: #333;
}

.projectButton:hover.projectButton::after {
  transform: translateX(100%);
}

.seeMore {
  padding: 20px 40px;
  margin: 10vh auto;
  background-color: transparent;
  border: 2px solid #555;
  color: #d72638;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.seeMore::after {
  content: "on Github";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 1s all;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d72638;
  color: #333;
}

.seeMore:hover.seeMore::after {
  transform: translateX(100%);
}

.project-main-box {
  display: flex;
}

.project-box {
  margin: 30px 10px 0 10px;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #555;
  color: #d72638;
  transition: 0.2s all;
  cursor: default;
}

.project-box:hover {
  transition: 0.2s all;
  background-color: #d72638;
  color: #333;
}

.laptop {
  width: 600px;
  height: 379px;
  flex: 1;
  position: relative;
}

.laptopScreen {
  width: 451px;
  height: 283px;
  position: absolute;
  top: 18px;
  left: 68px;
  overflow: scroll;
}

.laptopApp {
  width: 100%;
}

.laptopScreen::-webkit-scrollbar {
  display: none;
}

.githubContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.githubTitle {
  font-size: 80px;
  color: #d72638;
}

.githubTitle:nth-child(1) {
  text-align: center;
}

.githubChart {
  width: 820px;
  text-align: center;
}

.dates {
  padding: 10px;
  color: #555;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.boxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.box {
  width: 15px;
  height: 15px;
  background-color: #171c25;
  border-radius: 2px;
  cursor: pointer;
  transition: 3s all ease;
}

.active:nth-child(4n) {
  background-color: #195b2c;
}

.githubChart:hover .active:nth-child(2n + 1) {
  background-color: #195b2c;
}
.githubChart:hover .active:nth-child(2n) {
  background-color: #063f24;
}

.githubSm {
  display: none;
}

.contactContainer {
  background: linear-gradient(#1e1b18 50%, #d72638 50%);
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.contact {
  margin: auto;
  display: grid;
  width: 80vw;
  border: 5px solid red;
}

.contactBox {
  width: 100%;
  margin: 0.7rem 0;
  padding: 1.2rem 1.4rem;
  text-transform: none;
  font-size: 2rem;
}

.contactMessage {
  width: 100%;
}

.contact form textarea {
  height: 20rem;
  resize: none;
}

.ContactBtn{
  width: 100%;
}

.footerContainer {
  padding-left: 3vw;
  padding-right: 3vw;
  background-color: #d72638;
  height: 5vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.footer-socialmedia {
  cursor: default;
  justify-content: space-between;
  width: 30%;
  height: 100%;
  display: flex;
}

.socialmedia {
  transition: 0.2s all;
  font-size: 14px;
  margin: auto;
  padding: 10px 10px;
  background-color: #1e1b18;
  border: 2px solid #555;
  color: #d72638;
}

.socialmedia:hover {
  transition: 0.2s all;
  background-color: #d72638;
  color: #1e1b18;
}

.footer-copyright {
  color: #1e1b18;
  margin-top: 40px;
  text-align: end;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .projects {
    padding: 0 30px;
    text-align: center;
  }

  .project {
    flex-direction: column;
    height: max-content;
  }
  .project:nth-child(2n) {
    flex-direction: column;
  }

  .phone,
  .laptop {
    transform: none !important;
  }

  .githubChart {
    display: none;
  }

  .githubTitle {
    text-align: center;
    font-size: 10vw;
  }

  .githubSm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #555;
    font-size: 30px;
    text-align: center;
  }
}
